*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.logo-mario{
    width: 200px;
}

button{
    background-color: #C51111;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

.logo-mario-luigi{
    width: 500px;
}

.caixa-info-texto{
    width: 40%
}

